# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/

# PostgreSQL
*.sql
*.dump
*.backup
*.pg_dump

# Environment
.env
venv/
env/

# Static collected
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Python packaging / tools
*.egg-info/
dist/
build/
.eggs/
pip-log.txt

# Testing & coverage
.coverage
htmlcov/
.pytest_cache/
.tox/

# Jupyter
.ipynb_checkpoints/

# images
*.png
*.jpg
*.jpeg
*.gif
*.webp